@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-600:#1e79d0;
}
.font-sans{ font-family: var(--font-jakarta), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.font-mono{ font-family: var(--font-jetbrains), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
